#cssmenu{z-index: 1000; height:37px; display:block; padding:0; margin:0;  border:1px solid; border-radius:5px;text-align: right ; color:#FFF;	background-color:#333333; } 
#cssmenu > ul {z-index: 1000;list-style:inside none; padding:0; margin:0;} 
#cssmenu > ul > li {z-index: 1000;list-style:inside none; padding:0; margin:0; float:left; display:block; position:relative;} 
#cssmenu > ul > li > a{z-index: 1000; outline:none; display:block; position:relative; padding:12px 20px; font:bold 13px/100% Arial, Helvetica, sans-serif; text-align:center; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.4); } 
#cssmenu > ul > li:first-child > a{z-index: 1000;border-radius:5px 0 0 5px;} 
#cssmenu > ul > li > a:after{z-index: 1000; content:''; position:absolute; border-right:1px solid; top:-1px; bottom:-1px; right:-20px; z-index:99; } 
#cssmenu ul li.has-sub:hover > a:after{z-index: 1000;top:0; bottom:0;} 
#cssmenu > ul > li.has-sub > a:before{z-index: 1000; content:''; position:absolute; top:18px; right:6px; border:5px solid transparent; border-top:5px solid #fff; } 
#cssmenu > ul > li.has-sub:hover > a:before{z-index: 1000;top:19px;} 
#cssmenu ul li.has-sub:hover > a{z-index: 1000; background:#3ea5ea; border-color:#3ea5ea; padding-bottom:13px; padding-top:13px; top:-1px; z-index:999; } 
#cssmenu ul li.has-sub:hover > ul, #cssmenu ul li.has-sub:hover > div{z-index: 1000;display:block;} 
#cssmenu ul li.has-sub > a:hover{z-index: 1000;background:#3ea5ea; border-color:#3ea5ea;} 
#cssmenu ul li > ul, #cssmenu ul li > div{
	z-index: 1000; 
	display:none;
	position:absolute; 
	top:38px; 
	padding:5px 0; 
	background:#3f3f3f; 
	border-radius:0 0 5px 5px; 
	 width: 400px;
	height: 550px;

	overflow:auto;
	text-align: left ; 


} 
#cssmenu ul li > ul{z-index: 1000;width:200px;} 
#cssmenu ul li > ul li{z-index: 1000;display:block; list-style:inside none; padding:0; margin:0; position:relative;} 
#cssmenu ul li > ul li a{z-index: 1000; outline:none; display:block; position:relative; margin:0; padding:8px 20px; font:10pt Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.5); } 
#cssmenu, #cssmenu > ul > li > ul > li a:hover{z-index: 1000; background:#333333;  } 
#cssmenu{z-index: 1000;border-color:#333333; }  
#cssmenu > ul > li > a{z-index: 1000;border-right:1px solid #333333; color:#fff;} 
#cssmenu > ul > li > a:after{z-index: 1000;border-color:#6ed1ff;} 
#cssmenu > ul > li > a:hover{z-index: 1000;background:#3ea5ea;} 
